name: CI (macOS)
on:
  workflow_call:
jobs:
  build:
    name: macOS
    runs-on: macos-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Update Rust
      run: rustup update stable
    - name: Run tests
      run: cargo test --features jit -r
